rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas de acceso directo para la gestión de asistencia y comedor
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
